# macos

.DS_Store

# pycharm

.idea
.vscode

# python

*.pyc

# virtual environment

venv

# database file

migrations

# flask

app.pid
instance/config.py

# log

!log/placeholder
log/error_log
log/access_log

# static

app/static/analysis.html
!app/static/apk/placeholder
!app/static/images/sign/placeholder
!app/static/images/bulletin/placeholder
app/static/apk/*
app/static/images/sign/*
app/static/images/bulletin/*
