# macos

.DS_Store

# pycharm

.idea

# python

*.pyc

# virtual environment

venv

# database file

migrations

# flask

app.pid
instance/config.py

# log

!log
log/error_log
log/access_log

# static

app/static/access_log_analysis.html
app/static/images/sign/*.jpg
